<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AGREGAR GENEROS </title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
        <body>
            <figure>
                <img src="/img/logo-DH.png" alt="Logo Digital House">
            </figure>
                <form action="/genres/create" method="POST">
                    <h1>FORMULARIO DE CREACIÓN GENEROS</h1>
                <div>
                    <br>
                    <label for="first_name" class="form-label">Nombre:</label>
                    <textarea id="first_name" name="first_name" class="form-input"><%= genres.name%></textarea>
                </div>

                <div>
                    <br>
                    <label for="rating" class="form-label">Rating:</label>
                    <textarea id="rating" name="rating" class="form-input"><%= genres.rating%></textarea>
                </div>

                <div>
                    <br>
                    <button type="submit" class="buy-now-button">Guardar Cambios</button>
                </div>
            </form>
        </body>
</html>